.main  {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: transparent;
    background-image: linear-gradient(
      128deg, rgb(2, 63, 83) 0%, rgb(7, 7, 7) 100%);
}
.inner    {

--tw-bg-opacity: 0.05;
background-color: rgba(0,16,22,var(--tw-bg-opacity));
background-image: linear-gradient(transparent 0%, rgb(0, 16, 22) 80%);
position: relative;
border-radius: 0.375rem;
padding: 4rem 3rem;
width: 100%;
max-width: 24rem;
text-align: center;
}



.logo {
  width: 100%;
}
.text {
    margin-bottom: 1.75rem;
    margin-top: 1.25rem;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.375rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.btns {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.btn {
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  column-gap: 1.25rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(0,179,237,var(--tw-border-opacity));
  border-radius: 0.375rem;
  text-transform: uppercase;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  background-color: transparent;
    background-image: none;
}
.btn:hover{
 background-color:  rgba(0,179,237,var(--tw-border-opacity));
}
.img2{
  width: 32px;
  user-select: none;
  -webkit-user-drag: none;
  max-width: 100%;
  height: auto;
  display: block;
}

.logo2 {
  --tw-translate-x: -50%;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  position: absolute;
  left: 50%;
  bottom: 1rem;
}
.icons {
  --tw-translate-x: -50%;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  position: absolute;
  left: 50%;
  top: -6rem;
   width: 40rem;
}
.icons img{
  width: 100%;
}
.coin {
  z-index: 2147483647;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
}
.walletlink{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  min-height: 300px;
  position: relative;
}
.box_left {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  background-color: #fafbfc;
  padding:25px ;
}
.close{
  position: fixed;
  background-color: transparent;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(105, 103, 103);
  right:5% ;
  top: 3%;

}
.description{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
 
}
.install_btn {
  /* 
  height: 44px;
  
  ;
  padding: auto 0; */
  background-color: #1652f0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  
  width: 90%;
  min-width: fit-content;
}
.install_region{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    line-height: 1;
}
.install_region h2{
  display: block;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}
.icon{
  display: block;
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px;
    color: #1652f0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 4%), 0px 16px 24px rgb(0 0 0 / 6%);

}
.dis {
  margin-left: 16px;
  flex-grow: 1;
  font-size: 13px;
  line-height: 19px;
  color: #000;
  align-self: center;
}
.box_bottom {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 8px;
  width: 100%;
}
.scan {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.scan_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  flex-grow: 1;
}
.scan_description h2 {
  display: block;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}
.scan_description p {
font-size: 13px;
    line-height: 19px;
    margin-top: 12px;
    color: rgb(189, 188, 188);
}
.scan_description a {
  font-size: inherit;
  line-height: inherit;
  color: #1652f0;
  cursor: pointer;
}

.rcode__base {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: rgba(37, 41, 46, 0.95);
  height: 100%;
  left: 0;
  pointer-events: auto;
  position: fixed;
  top: 0;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  will-change: opacity;
  padding: 40px;
  box-sizing: border-box;
}
.walletconnect_wrapper {
  -webkit-user-select: none;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 99999999999999;
}
.modal__base {
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 10px 50px 5px rgb(0 0 0 / 40%);
  font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text", medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 41px;
  padding: 24px 24px 22px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  overflow: visible;
  transform: translateY(-50%);
  top: 50%;
  max-width: 500px;
  margin: auto;
}
.qrcode__text {
  color: rgba(60, 66, 82, 0.6);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1875em;
  margin: 10px 0 30px 0;
  text-align: center;
  width: 100%;
}
.qrcode{
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.qrcode__img{
  
}
.modal_footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgba(60, 66, 82, 0.6);
  font-size: 15px;
}
/* .toggle_selector {
  width: calc(50% - 8px);
  background: white;
  position: absolute;
  border-radius: 5px;
  height: calc(100% - 8px);
  top: 4px;
  transition: all 0.2s ease-in-out;
  transform: translate3d(4px, 0, 0);
} */
.mobile__toggle {
  width: 80%;
  display: flex;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 18px;
  background: #d4d5d9;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.mobile__toggle button{
  font-size: 12px;
    width: 50%;
    text-align: center;
    padding: 8px;
    margin: 0;
    font-weight: 600;
    z-index: 1;
    border: none;
    background-color: none;
}

.base__row {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  margin: 0px 0px 8px;
  text-align: left;
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
  text-decoration: none;
}
.base__row:hover{
 background-color:  rgb(233, 232, 232);
}
.base__row h3 {
  color: #25292e;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 3px;
}
.base__row__right {
  align-items: center;
  display: flex;
  justify-content: center;
}
.right__app_icon {
  border-radius: 8px;
  z-index: 9999;
  height: 34px;
  margin: 0 11px 2px 0;
  background-size: 100%;
  box-shadow: 0 4px 12px 0 rgb(37 41 46 / 25%);
  position: relative;
  overflow: 'hidden'
}
.close__icon {
  position: relative;
  top: 7px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);

}
.close__line1 {
  position: absolute;
  width: 100%;
  border: 1px solid rgb(48, 52, 59);
}
.close__line2 {
  position: absolute;
  width: 100%;
  border: 1px solid rgb(48, 52, 59);
  transform: rotate(
90deg);
}
.close__wrapper {
  /* position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10000; */
  background: white;
  border-radius: 26px;
  padding: 6px;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.modal__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 50%;
  top: -8%;
  transform: translate(-50%, -50%);
}
.logo_sec{
  display: flex;
}
.logo_sec img{
  width: 10%;
}
.modal__header p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 5px;
}
.btn_bg{
  background-color: white;
  border-radius: 5px;
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
